/* Header */

.icons {
   padding-right: 5px;
}

/* Homepage */

#home-jumbo {
    background-image: linear-gradient(0deg,rgb(44, 62, 80, 0.95),rgb(44, 62, 80, 0.95)), url('https://images.pexels.com/photos/326501/pexels-photo-326501.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ececec;
 }

 .review-icon {
    color: #18BC9C;
 }


/* About Page */

#about-jumbo {
    background-image: url('https://images.pexels.com/photos/34199/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    height: 33vh;
}

/* Single Service Page */

.service-title{
   width:100%;
   height: 20vh;
   background-image: url('https://images.pexels.com/photos/34199/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
   background-size: cover;
   background-repeat: no-repeat;
}

/* Footer */

.footer{
   height: 80px;
   background-color: rgb(44,62,80);
   color: #18BC9C;
}