{% extends 'base.html' %}

{% block title %}Our Services - Conor Creates{% endblock title %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <h1>Our Services</h1>
    </div>
</div>

{% for service in services %}

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="row ">
                <div class="col-md-4">
                    <img src="{{ service.images}}" alt="">
                </div>
                <div class="col-md-8 px-3 mt-2 mb-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">{{ service.name }}</h4>
                        <p class="card-text">{{ service.description }}</p>
                        <a href="{% url 'single-service' service.id %}" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endfor %}
{% endblock %}