{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block title %}{{ service.name }} - ConorCreates{% endblock title %}
{% block stripeJS %}
<!-- javascript to allow Stripe to run on this page -->
<script src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]
</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock stripeJS %}

{% block content %}

<div class="row">
    <div class="col">
        <!-- displays an image slideshow of the service -->
        <div class="home-slider mb-4">
            <!--  loops through the images of the service -->
            {% for img in images %}
            <div><img class="img-fluid" src="{{ img.add_image.url}}" alt="{{ service.name }}"></div>

            {% endfor %}
            <!-- <div class="slide"><img src= alt=""><div class="slide-caption">Logo Design</div></div> -->


        </div>
    </div>
</div>
<div class="row">
    <!-- displays the service icon, name and price -->
    <div class="col">
        <h1><i class="{{service.short}}"></i> {{ service.name }} - €{{ service.price }}</h1>
    </div>
</div>
<div class="row">
    <!-- displays the full description of the service -->
    <div class="col">
        <p class="">{{ service.description }}</p>
    </div>
</div>
<!-- checks if the user is logged in or not -->
{% if not user.is_authenticated %}
<div class="row">
    <div class="col">
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            You need to be logged in to purchase {{ service.name }} - <a href="{% url 'login' %}"
                class="alert-link">Login</a> or <a href="{% url 'register' %}" class="alert-link">Register</a> .
        </div>
    </div>
</div>
<!-- if the user is logged in they can purchase the service -->
{%else%}
<!-- form that allows the user to purchase a service -->
<form method="POST" role="form" action="{% url 'single-service' service.id %}" id="payment-form">
    {% csrf_token %}

    <div class="credit-card-errors" style="display:none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <legend>Contact & Design Details</legend>
            {{order_form|as_bootstrap}}
        </div>
        <div class="form-group col-md-6">
            <legend>Payment Details</legend>
            {{payment_form|as_bootstrap}}
        </div>


        <div class="form-group col-md-12">
            <input class="btn btn-primary btn-lg btn-block" id="submit_payment_btn" name="commit" type="submit"
                value="Buy Now">
        </div>
    </div>
</form>


{% endif %}

<div class="row mt-3 mb-3">
    <h3 class="col">Reviews for {{ service.name }}</h3>
</div>

<div class="row">
    <!-- loop that adds all the reviews   -->
    {% for review in reviews %}
    <!-- checks if the review is for the sleected service -->
    {% if review.service == service %}
    <!-- checks if the review has been approved by the administrator -->
    {% if review.approved %}
    <!-- displays the review if it has been approved -->
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card bg-light mb-3 h-100">
            <div class="card-body d-flex flex-column">
                
                    <h4 class="card-title"><i class="{{service.short}}"></i> {{ review.service.name }}</h4>
                
                <div class="row">
                    <div class="col-4 m-auto">
                        <p class="card-text"><span class="fa-stack fa-2x">
                                <i class="fa fa-star fa-stack-2x review-icon"></i>
                                <strong class="fa-stack-1x text-primary">{{ review.rating }}</strong>
                            </span></p>
                    </div>
                    <div class="col-8 mb-auto">
                        <p class="card-text">
                            <blockquote class="blockquote">
                                <p class="mb-0">{{ review.comments }}</p>
                                <footer class="blockquote-footer">{{review.user.username}}</footer>
                            </blockquote>
                        </p>

                    </div>

                </div>
            </div>
        </div>

    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

{% endblock %}

