{% extends 'base.html' %}
{% block title %}Password Reset - Conor Creates{% endblock title %}
{% block heading %}Password Reset{% endblock heading %}
{% block content %}
<form method="POST" action="">
        <p>Enter your email address</p>
        {% csrf_token %}

        {{ form.email.errors }}
        <p>
            <label for="id_email">Email address:</label>
            {{ form.email }}
        </p>
        
        <button type="submit" class="btn btn-success">Reset Password</button>
    </form>
{% endblock content %}