{% extends 'base.html' %}

{% load bootstrap_tags %}
{% block title %}Register - Conor Creates{% endblock title %}
{% block heading %}Register{% endblock heading %}
{% block content %}
<form method="POST" action="">
        {% csrf_token %}
        {{ register_form| as_bootstrap }}
        <br>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    <small class="text-muted">Have an account? You can <a href="{% url 'login' %}">Login here</a></small>
{% endblock content %}