{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home - Conor Creates{% endblock title %}
{% block heading %}{% endblock heading %}
{% block content %}
<div class="jumbotron" id="home-jumbo">
  <h4 class="display-6 center">ConorCreates</h4>
  <p class="lead">Welcome to my Graphic Design Portfolio</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum eveniet ea, assumenda minima quis aliquid
    doloribus labore facilis earum? Necessitatibus porro nesciunt nisi similique ducimus veritatis a facilis delectus!
  </p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="{% url 'about' %}" role="button">Contact Us</a>
  </p>
</div>
<div class="row mb-3">
  <div class="col">
    <h4>Our Services</h4>
  </div>
</div>
<div class="row mb-4">
  {% for service in services %}
  <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h4 class="card-title"><i class="fas fa-landmark"></i> {{ service.name }}</h4>
          <p class="card-text">{{ service.description|truncatewords:28 }}</p>
          <a href="{% url 'single-service' service.id %}" type="button" class="btn btn-primary btn-block">View More</a>
        </div>
      </div>
    </div>
  {% endfor %}

</div>

<div class="row mb-3">
  <div class="col">
    <h4>Our Work</h4>
  </div>
</div>
<div class="col">
  <div class="home-slider mb-4">
    <!-- <div class="slide"><img src="{% static 'img/logo1.png' %}" alt=""><div class="slide-caption">Logo Design</div></div> -->
    <div><img class="img-fluid" src="{% static 'img/logo1.png' %}" alt=""></div>
    <div><img class="img-fluid" src="{% static 'img/web1.png' %}" alt=""></div>
    <div><img class="img-fluid" src="{% static 'img/menu1.png' %}" alt=""></div>
    <div><img class="img-fluid" src="{% static 'img/wedding1.png' %}" alt=""></div>
    <div><img class="img-fluid" src="{% static 'img/social1.png' %}" alt=""></div>
    <div><img class="img-fluid" src="{% static 'img/poster1.png' %}" alt=""></div>
  </div>
</div>

{% endblock content %}